<div th:fragment="header">
  <header class="cabeza_indrugs">
    <div class="contenedeor_cabeza logo_nav_items">
      <a href="#" class="logo">
        <img class="img_indrugs_logo" th:src="@{/imagenes/logo.png}" alt="Logo InDrugs">Indrugs
      </a>
      <nav class="navegacion_1">
        <ul class="barra_1">
          <li id="items_barra1">
            <a th:href="@{/7.pagina_sobre_nosotros.html}" id="enlaces_barra1">
              <img id="iconos" th:src="@{/Iconos/ubicacion.png}" alt="Ubicación">
            </a>
          </li>
          <li id="items_barra1">
            <a th:href="@{/cerrarSesion}" id="enlaces_barra1">
              <img id="iconos" th:src="@{/Iconos/icons8-cerrar-sesión-96.png}" alt="Cerrar sesión">
            </a>
          </li>
          <li id="items_barra1">
            <a th:href="@{/5.pagina_pqrs.html}" id="enlaces_barra1">
              <img id="iconos" th:src="@{/Iconos/alerta.png}" alt="PQRS">
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <hr class="linea_separación" />

    <div class="contenedeor_cabeza logo_nav_items">
      <nav class="menu">
        <ul class="barra_2">
          <li id="items_barra">
            <a id="enlaces_barra" th:href="@{/20.pagina_principal_administrador}">Inicio</a>
          </li>
          <li id="items_barra">
            <a id="enlaces_barra" th:href="@{/21.pagina_usuarios}">Usuarios</a>
          </li>
          <li id="items_barra">
            <a id="enlaces_barra" th:href="@{/17.pagina_inventario}">Inventario</a>
          </li>
          <li id="items_barra">
            <a id="enlaces_barra" th:href="@{/22.pagina_medicamento}">Medicamento</a>
          </li>
          <li id="items_barra">
            <a id="enlaces_barra" th:href="@{/18.pagina_orden_admin}">Órdenes</a>
          </li>
          <li id="items_barra">
            <a id="enlaces_barra" th:href="@{/cerrarSesion}">Cerrar sesión</a>
          </li>
        </ul>
      </nav>
    </div>

    <hr class="linea_separación" />
  </header>

</div>
<div th:fragment="error">
  <div th:if="${mensaje}" class="alert alert-success" role="alert">
    <span th:text="${mensaje}"></span>
  </div>

  <div th:if="${error}" class="alert alert-danger" role="alert">
    <span th:text="${error}"></span>
  </div>
</div>>

<div th:fragment="footer">
  <footer class="pie-pagina">
    <hr class="linea_separación" />
    <div class="grupo-1">
      <div class="box">
        <h2>Contáctanos</h2>
        <hr class="linea_separación" />
        <p><i class="fa-solid fa-phone" style="color: #6bd10c;"></i> 601 6783 546 / 601 6789 564</p>
        <p><i class="fa-brands fa-whatsapp" style="color: #6bd10c;"></i> Línea WhatsApp 327 678 5679</p>
        <p><i class="fa-brands fa-facebook" style="color: #6bd10c;"></i> Facebook Indrugs</p>
      </div>

      <div class="box">
        <h2>Nuestras tiendas</h2>
        <hr class="linea_separación" />
        <p>Ubicar tienda</p>
      </div>

      <div class="box">
        <h2>Categorías</h2>
        <hr class="linea_separación" />
        <ul class="lista_mapa_nav">
          <li><a class="mapa_nav" th:href="@{/10.pagina_mapa_nav.html}">Mapa de navegación</a></li>
          <li><a class="mapa_nav" th:href="@{/404.html}">Error 404</a></li>
          <li><a class="mapa_nav" th:href="@{/500.html}">Error 500</a></li>
        </ul>
      </div>

      <div class="box">
        <h2>Nosotros</h2>
        <hr class="linea_separación" />
        <ul class="lista_mapa_nav">
          <li><a class="mapa_nav" th:href="@{/7.pagina_sobre_nosotros.html}">Quiénes somos</a></li>
          <li><a class="mapa_nav" th:href="@{/7.pagina_sobre_nosotros.html}">Acerca del proyecto</a></li>
        </ul>
      </div>
    </div>

    <div class="grupo-2">
      <hr class="linea_separación" />
      <small>DISPENSADORA DE MEDICAMENTOS InDrugs - La salud llega a tu puerta</small>
      <hr class="linea_separación" />
    </div>
  </footer>
</div>
