<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 500</title>
    <link th:href="@{/css/7.estilos_pagina_error_500.css}" rel="stylesheet" />
</head>
<body>
<div class="codigo_500">
    <div class="codigo_num">
        <p>5</p>
        <p>0</p>
        <p>0</p>
    </div>
    <div class="texto_error">
        Error interno del servidor
    </div>
    <div class="descripcion">
        Algo salió mal. Vuelve a intentar más tarde.
    </div>
</div>
</body>
</html>
