:root {
    --background-color: linear-gradient(90deg, #022c5c, #104585);
    --text-color: #022c5c;
    --iconos: #063163;
    --lineas: #adc8fa;
    --table-header: #f8f9fa;
    --table-hover: #f1f4f9;
    --border-color: #e9ecef;
}

.btn {
    width: 70%;
    background: rgb(30 119 249 / 31%);
    color: var(--text-color)
    padding: 12px 18px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #00bcd4;
  }

.table-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.table-header {
    margin-bottom: 2rem;
}

.section-title {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    padding-bottom: 1rem;
}


.table-responsive {
    background: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.custom-table {
    width: 100%;
    margin-bottom: 0;
    border-collapse: separate;
    border-spacing: 0;
}

.custom-table thead th {
    background: var(--table-header);
    color: var(--text-color);
    font-weight: 600;
    padding: 1rem;
    border-bottom: 2px solid var(--border-color);
    text-transform: uppercase;
    font-size: 0.80rem;
    letter-spacing: 0.5px;
}

.custom-table tbody tr {
    transition: background-color 0.3s ease;
}

.custom-table tbody tr:hover {
    background-color: var(--table-hover);
}

.custom-table td {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 0.95rem;
}


/* Responsive */
@media (max-width: 992px) {
    .table-container {
        margin: 1rem;
        padding: 0;
    }

    .custom-table {
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .section-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {

    .custom-table thead th,
    .custom-table td {
        padding: 0.75rem;
        font-size: 0.85rem;
    }

    .section-title {
        font-size: 1.3rem;
    }
}